@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


header{
    background-color: #d5eafa;
    width: 1440px;
    height: 136px;
    display: flex;
    justify-content:center;
    align-items: center;
}
.header__title{
    font-weight: bold;
    color:rgb(0, 0, 0);
    font-family:"Open Sans", sans-serif;
   font-size: 48px;

}
.header__title--blue{
    color: rgb(86, 144, 219);
}

footer{
    width: 100vw;
    height: 115px;
   display: flex;
   background-color: #5a9bcd;
   justify-content: space-around;
   align-items: center;
    /* gap faz o mesmo que o space around porem manualmente */
}
.footer__column{
    width: 16%;
    text-align: center;
}
.footer__redesocial{
    display: flex;
    flex-direction: column;
}
.footer__redesocial{
    text-decoration: none;
    color: black;
    font-size: 24px;
}
